@media (max-width:900px){
	
	.navbar-toggler{
		position:absolute;
		top:20px;
		right:30px;
	}
	
	.iphone{
		display:none;
	}
	
	}
	.work{
		font-size:40px !important;
		text-align:center;
	}
	.one{
		padding:20px;
	}
	p.text{
		font-size:12px !important;
	}
	.logo1{
		padding:30px;
		
	}
	.logo{
		padding:20px 0;
		height:70px !important;
	}
	.plan-head{
		font-size:30px !important;
	}
	.test{
		font-size:25px;
	}
}
















*{
	margin:0;
	padding:0;
}
.pink{
	background-color:#FF4C68;
}
.feel{
	margin-left:20px;
	padding:10px;
}

li a{
	text-decoration:none;
	color:white !important;
}
.nav-item{
	font-size:18px;
}

.active{
	font-size:25px;
}
.work{
	font-size:80px;
	color:white;
	padding:40px;
	font-family:'Poppins';
	font-weight:bolder;
	
}
.btn01{
	border:white 2px solid;
	color:white !important;
}
img{
	height:340px;
}
.iphone{
	
	position:absolute;
	left:45%;
	top:35%;
	transform: rotate(25deg);
	
}
.white{
	background-color:white;
	position:relative;
	$zindex-offcanvas:  1045;
	
}
.one{
	padding:75px;
	text-align:center;
}
.life{
	font-size:40px;
	padding:20px 70px;
	color:#FF4C68;
	text-align:center !important;
}
.two{
	font-family:'Poppins';
	font-weight:bold;
	text-align:center;
}
.three{
	font-family:'Poppins';
	text-align:center;
}
.red{
	background-color:#EF8172;
	text-align:center;
	padding:30px;
}
.test{
	font-size:40px;
	color:white;
	font-family: 'Fredoka';
	text-align:center;
	padding-top:25px;
}
.testpic{
	max-width:150px;
	height:auto;
	color:white;
	border-radius:100px;
	display:inline-block;
}
.testpic1{
	display:inline-block;
	color:white;
	font-size:20px;
	font-style:italic;
	
}
.two-text{
	font-family:'Poppins';
	font-weight:bold;
	text-align:center;
	font-size:40px;
	padding-top:50px;
}
.three-text{
	font-family:'Poppins';
	text-align:center;
	padding-bottom:20px;
}
.logo{
	padding:20px 10px;
	height:90px;
}
.logo1{
	padding:40px;
}
.plan-head{
	font-family:'Poppins';
	font-weight:bolder !important;
	font-size:50px;
	
}
.test-list{
	
}
.form2{
	text-align:center;
	padding:50px;
}
.foot-icon{
	text-align:center;
	
	font-size:15px;

}
.foot-list{
	display:inline-block;
	padding:0 5px;
	margin-top:10px;
}
.foot-note{
	text-align:center;
}





	